node_modules
.env

# Terraform files
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/*.plan
terraform/crash.log
terraform/crash.*.log
terraform/.terraformrc
terraform/terraform.rc
